/*----- Style of all the Document -----*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
}

/*----- Content of Header -----*/
.header {
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

.container-navbar {
    width: 95%; /* space for the bar of navegation */
}

.navbar-color {
    background: #667EEA; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #667EEA 0%, #D8B5FF 100%); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #667EEA 0%, #D8B5FF 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.a-active {
    color: black;
    font-family: 'Shadows Into Light';
    -webkit-transition: all .3s ease;
}

.a-nav {
    color: #ffffff;
    font-family: 'Shadows Into Light';
    -webkit-transition: all .3s ease;
}

.a-nav:hover {
    color: #626C92;
}

.navbar-margin {
    margin: 0 10px 0 0;
}

.btn-login {
    background: rgba(121, 63, 223, 0.7);
    color: #000000;
    border: none;
    padding: auto;
    font-weight: normal;
    font-family: 'Shadows Into Light';
    letter-spacing: 1px;
    border-radius: 20px;
    background-repeat: no-repeat;
    -webkit-transition: all .5s ease-in-out;
}

.btn-login:hover {
    background: rgba(160, 132, 232, 0.9);
    color: #000000;
    background-repeat: no-repeat;
    background-position: 65%;
    background-size: 20px;
    -webkit-transition: all .5s ease;
}

.btn-register {
    background: rgba(160, 132, 232, 0.9);
    color: #000000;
    width: 135px;
    border: none;
    padding: auto;
    font-weight: normal;
    font-family: 'Shadows Into Light';
    letter-spacing: 1px;
    border-radius: 20px;
    background-repeat: no-repeat;
    -webkit-transition: all .5s ease-in-out;
}

.btn-register:hover {
    background: rgba(121, 63, 223, 0.7);
    color: #000000;
    background-repeat: no-repeat;
    background-position: 65%;
    background-size: 30px;
    -webkit-transform: all.5s ease;
}

.input-search {
    background: rgba(216, 181, 255, 0.7);
    font-family: 'Shadows Into Light';
    border-radius: 20px;
}

.input-search:focus {
    background: rgba(216, 181, 255, 0.7);
}

/*----- Content of Main -----*/
.background {
    background-color: rgba(216, 181, 255, 0.7);
    margin-top: 65px;
}

.section-title {
    font-family: 'Shadows Into Light';
    text-align: center;
    margin: auto;
    padding: 5px 0;
    font-size: 30px;
}

.container-space {
    width: 95%;
    height: 100%;
    margin: auto;
}

.container-flex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 35px;
}

.container-box {
    background: linear-gradient(to top, rgba(161, 140, 209, 0.5) 0%, rgba(251, 194, 235, 0.6) 100%);
    width: 23%;
    height: 20%;
    object-fit: cover;
    /* margin-bottom: 40px; */
    border-radius: 20px;
    margin: 10px 1em 0 0;
    position: relative;
    overflow: hidden;
    scroll-behavior: smooth;
}

.container-box .container-image {
    width: 100%;
    height: 200px;
    display: block;
}

.container-flex .container-box {
    transition: all 600ms cubic-bezier(1, 0, 0, 1);
}

.container-flex .container-box:hover {
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 1),
        5px 5px 0px 0px #D8B5FF, /*Controller the size of transition*/
        0.3em 0.3em 1em rgba(0, 0, 0, 1);
    transform: translate(-5px, -5px);
}

.container-box:hover .text-image {
    /* display: none; */
    background: rgba(200, 20, 255, 0.8);
    -webkit-transition: all 600ms ease;
}

.container-box-poster {
    background: linear-gradient(to top, rgba(161, 140, 209, 0.5) 0%, rgba(251, 194, 235, 0.6) 100%);
    width: 15%;
    height: 20%;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px 1em 0 0;
    position: relative;
    overflow: hidden;
    scroll-behavior: smooth;
}

.container-box-poster .container-poster {
    width: 100%;
    height: 300px;
    display: block;
}

.container-flex .container-box-poster {
    transition: all 600ms cubic-bezier(1, 0, 0, 1);
}

.container-flex .container-box-poster:hover {
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 1),
        5px 5px 0px 0px #D8B5FF, /*Controller the size of transition*/
        0.3em 0.3em 1em rgba(0, 0, 0, 1);
    transform: translate(-5px, -5px);
}

.container-box-poster:hover .text-image {
    display: none;
}

.container-text {
    background: rgba(130, 133, 255, 0.8);
    font-family: 'Noto Serif', serif;
    color: #2EFEF7;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-transition: all .5s ease-in-out;
}

.text-image {
    width: 100%;
    height: 15%;
    padding: .3em;
    font-size: 15px;
    display: block;
    position: absolute;
    bottom: 0px;
    margin-bottom: 0px;
    overflow: hidden;
    text-overflow: ellipsis; /* shorten the letters */
    white-space: nowrap;
}

.container-color {
    width: 100%;
    height: 15%;
    display: block;
    position: absolute;
    bottom: 0px;
    margin-bottom: 0px;
    overflow: hidden;
    text-overflow: ellipsis; /* shorten the letters */
    white-space: nowrap;
}

.container-box-poster:hover .container-color {
    background: rgba(0, 0, 0, 0.5);
    height: 300px;
    -webkit-transition: all 0.3s ease;
}

/*----- Responsive Main -----*/
@media screen and (max-width: 1200px) {
    .container-box {
        width: 31%;
        border-radius: 15px;
        margin: 7px 1em 0 0;
    }

    .container-box .container-image {
        height: 170px;
    }

    .container-flex .container-box:hover {
        box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 1),
            4px 4px 0px 0px #D8B5FF, /*Controller the size of transition*/
            0.3em 0.3em 1em rgba(0, 0, 0, 1);
        transform: translate(-4px, -4px);
    }

    .container-box-poster {
        width: 22%;
        height: 20%;
        border-radius: 15px;
        margin: 10px 1em 0 0;
    }

    .container-box-poster .container-poster {
        height: 260px;
    }

    .container-text {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}

@media screen and (max-width: 800px) {
    .container-box {
        width: 46%;
    }

    .container-box .container-image {
        height: 160px;
    }

    .container-box-poster {
        width: 29%;
        margin: 10px 1em 0 0;
    }

    .container-box-poster .container-poster {
        height: 250px;
    }
}

@media screen and (max-width: 500px) {
    .section-title {
        font-size: 23px;
    }

    .container-box {
        width: 45%;
        border-radius: 10px;
    }

    .container-box-poster {
        width: 29%;
        margin: 10px 1em 0 0;
        border-radius: 10px;
    }

    .container-box-poster .container-poster {
        height: 210px;
    }

    .container-text {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

@media screen and (max-width: 350px) {
    .container-navbar {
        width: 100%; /* space for the bar of navegation */
    }

    .container-box {
        width: 43%;
    }

    .container-box-poster {
        width: 43%;
    }

    .container-box-poster .container-poster {
        height: 200px;
    }
}

/*----- Container Footer -----*/
footer {
    background: #667EEA; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #667EEA 0%, #D8B5FF 100%); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #667EEA 0%, #D8B5FF 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 20px;
}

.footer-content p{
    color: #FFFFFF;
    font-size: 25px;
    font-family: 'Shadows Into Light';
}
